<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comment</title>
    
</head>
<body>
	<h1>Write a Comment</h1>
	<form method="POST">
	{% csrf_token%}
		<label>comment:</label>
		<input name="comment" type="text" placeholder=" write a comment" required>
		<br>
		<button type="submit">send</button>
		<button type="reset">reset</button>
		<a href="{% url 'index' %}">cancel</a>
	</form>
</body>
</html>